<form method="POST" action="guardarContacto">
	<label for="nombres" class="rem">Nombres:</label>
    <input type="text" id="nombres" name="contacto[nombres]" value="<%= agenda.nombres %>">
    <div>
	    <label for="apellidoPaterno" class="rem">Apellido Paterno:</label>
	    <input type="text" id="apellidoPaterno" name="contacto[apellidoPaterno]" value="<%= agenda.apellidoPaterno %>">
	</div>
	<div>
	    <label for="apellidoMaterno" class="rem">Apellido Materno:</label>
	    <input type="text" id="apellidoMaterno" name="contacto[apellidoMaterno]" value="<%= agenda.apellidoMaterno %>">
	</div>
    <div>
	    <label for="telefonoPersonal" class="rem">Telefono Personal:</label>
	    <input type="text" id="telefonoPersonal" name="contacto[telefonoPersonal]" value="<%= agenda.telefonoPersonal %>">
    </div>
    <div>
	    <label for="telefonoDomicilio" class="rem">Telefono Domicilio:</label>
	    <input type="text" id="telefonoDomicilio" name="contacto[telefonoDomicilio]" value="<%= agenda.telefonoDomicilio %>">
    </div>
    <div>
	    <label for="cumpleanos" class="rem">Cumpleaños</label>
	    <input type="text" id="cumpleanos" name="contacto[cumpleanos]" value="<%= agenda.cumpleanos %>">
    </div>
    <div>
    	<input type="submit" name="envio" value="Registrar Contacto">
     </div> 
</form>
